$primary-color: #E61950;
$primary-background: #F7F6EE;
$secondary-background: #FFFFFF;
$text-color: #38373D;
$error-color: #B00020;
$disabled-color: rgba(0, 0, 0, 0.04);
$hover-color: #e9ecef;

@function getPrimaryColorWithAlpha($alpha) {
  @return rgba(232, 45, 95, $alpha);
}
