$primary-color: #E61950;
$primary-background: #F7F6EE;
$secondary-background: #FFFFFF;
$text-color: #38373D;
$error-color: #B00020;
$disabled-color: rgba(0, 0, 0, 0.04);
$hover-color: #e9ecef;
$divider-color: rgb(56, 55, 61, 0.3);

@function getPrimaryColorWithAlpha($alpha) {
  @return rgba(232, 45, 95, $alpha);
}

$pastel-yellow: #FFF599;
$pastel-green: #E9F5A3;
$pastel-blue: #9FD7F9;
$pastel-purple: #B5A9EF;
$pastel-red: #FB9DB1;
