@import "colors";

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a,
p, div, .p-menu .p-menuitem-link, .p-menu .p-menuitem-link .p-menuitem-text,
#nav li a, div.title a, .headline, .subtitle, .Heading, .Footer {
    font-family: 'Source Sans Pro', sans-serif !important;
}

body {
    background-color: $primary-background;
}

a, button {
    font-weight: bold;
    color: $primary-color;
    text-decoration: none;
    border: 0;
    background-color: transparent;
    padding: 0;
    margin: 0;
    line-height: normal;
    font-size: medium;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, div:not(.p-message-wrapper), .p-menu .p-menuitem-link, .p-menu .p-menuitem-link .p-menuitem-text {
    color: $text-color;
}

.p-button {
    background: $primary-color;
    &:enabled{
        &:hover {
            background: getPrimaryColorWithAlpha(0.92);
        }
        &:active, &:focus {
            background: getPrimaryColorWithAlpha(0.68);
        }
    }
    &:not(button):not(a):not(.p-disabled){
        &:hover {
            background: getPrimaryColorWithAlpha(0.92);
        }
        &:active, &:focus {
            background: getPrimaryColorWithAlpha(0.68);
        }
    }
    &.p-button-outlined {
        border-color: $primary-color;
        color: $primary-color;
        &:enabled:hover {
            border-color: $primary-color;
            color: $primary-color;
        }
    }
}

.p-inputtext:enabled:focus {
    box-shadow: inset 0 0 0 1px $primary-color, inset 0 0 0 1px $primary-color, inset 0 0 0 1px $primary-color, inset 0 0 0 1px $primary-color;
    border-color: $primary-color;
}

.p-float-label input:focus ~ label, .p-float-label .p-inputwrapper-focus ~ label {
    color: $primary-color;
}

.p-float-label input:focus ~ label.p-error, .p-float-label .p-inputwrapper-focus ~ label.p-error {
    color: $error-color;
}

.p-checkbox .p-checkbox-box.p-highlight {
    border-color: $primary-color;
    background: $primary-color;
    &:not(.p-disabled) {
        &:hover {
            border-color: $primary-color;
            background: $primary-color;
        }
        &.p-focus {
            border-color: $primary-color;
        }
    }
}

.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box {
    &.p-focus {
        border-color: $primary-color;
    }
    &.p-highlight:hover {
        border-color: $primary-color;
        background: $primary-color;
    }
}

.p-checkbox.p-checkbox-checked:not(.p-checkbox-disabled):hover {
    box-shadow: 0 0 1px 10px getPrimaryColorWithAlpha(0.04);
}

.p-checkbox.p-checkbox-checked:not(.p-checkbox-disabled).p-checkbox-focused {
    box-shadow: 0 0 1px 10px getPrimaryColorWithAlpha(0.12);
}

.p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
    background: $primary-color;
}

.p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background: $primary-color;
}

.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider {
    background: getPrimaryColorWithAlpha(0.5);
}
.p-inputswitch.p-inputswitch-checked .p-inputswitch-slider:before {
    background: $primary-color;
}
.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider {
    background: getPrimaryColorWithAlpha(0.5);
}

.p-inputswitch.p-inputswitch-checked:not(.p-disabled):hover .p-inputswitch-slider:before {
    box-shadow: 0 0 1px 10px getPrimaryColorWithAlpha(0.04),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
.p-inputswitch.p-inputswitch-checked.p-inputswitch-focus .p-inputswitch-slider:before,
.p-inputswitch.p-inputswitch-checked.p-inputswitch-focus:not(.p-disabled):hover .p-inputswitch-slider:before {
    box-shadow: 0 0 1px 10px getPrimaryColorWithAlpha(0.12),
                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.grid {
    margin: 0;
}

.p-avatar {
    border: 0.15rem solid $text-color;
}

@keyframes ui-progress-spinner-color {
    100%,
    0% {
        stroke: $primary-color;
    }
    40% {
        stroke: $primary-color;
    }
    66% {
        stroke: $primary-color;
    }
    80%,
    90% {
        stroke: $primary-color;
    }
}
