@import "../../../../colors";

.list-item.pi-circle-fill {
  font-size: xx-large !important;
}

#list-dialog_content {
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
  padding-bottom: 0 !important;
}

.p-button{
  min-width: fit-content !important;
}

.p-selectbutton .p-button {
  border: none !important;
  &.p-component:not(.p-highlight) {
    &:hover{
      background-color: getPrimaryColorWithAlpha(0.04) !important;
    }
    &:active {
      background: getPrimaryColorWithAlpha(0.16) !important;
    }
  }
  &.p-highlight {
    background: getPrimaryColorWithAlpha(0.20) !important;
  }
}

#pastel-yellow-option {
  color: $pastel-yellow;
}

#pastel-green-option {
  color: $pastel-green;
}

#pastel-blue-option {
  color: $pastel-blue;
}

#pastel-purple-option {
  color: $pastel-purple;
}

#pastel-red-option {
  color: $pastel-red;
}
