@import "../../colors";

.p-menu .p-menuitem .p-menuitem-link:not(.p-disabled):hover {
  background-color: $hover-color;
}

.p-tag.p-tag-rounded {
  background-color: transparent;
  border: 0.10rem solid $text-color;
  color: $text-color;
}

.p-tag-icon {
  color: $primary-color;
}
