
.p-chip.custom-chip {
  background: transparent;
  border: 0.1rem solid #38373D;
  padding-top: 0.1rem !important;
  padding-bottom: 0.1rem !important;
}

span.p-chip-text{
  margin: 0 !important;
}

