@import "../../colors";

div#home-body {
    background-image: url("../../images/background_home.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;
    background-size: cover;
}

.home-bar {
    background-color: $text-color;
}

h1#appTitle {
    color: $secondary-background;
}

.secondary-button {
    background-color: $secondary-background !important;
    color: $text-color !important;
}
