@import "../../colors";

#my-day-item .p-component {
  width: 100%;
  height: fit-content;
}

.p-panel {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.p-panel .p-panel-header .p-panel-header-icon {
  &:enabled:hover, &:focus {
    background-color: getPrimaryColorWithAlpha(0.04) !important;
  }
  &:active {
    background: getPrimaryColorWithAlpha(0.16);
  }
}

.p-panel-header {
  border-bottom: 1px solid lightgrey !important;
}

.p-toggleable-content {
  margin-top: 15px;
}

.p-accordion .p-accordion-tab.p-accordion-tab-active {
  margin-bottom: 0 !important;
}